<form action="#">
  <div>
    <label for="id">Id</label>
    <input id="id" type="text" readonly value="1"/>
  </div>
  <div>
    <label for="nombre">Nombre</label>
    <input id="nombre" type="text" value="Producto1"/>
  </div>
  <div>
    <label for="descripcion">Descripción</label>
    <input id="descripcion" type="text" value="Descripcion1"/>
  </div>
  <div>
    <label for="precio">Precio</label>
    <input id="precio" type="number" step="0.01" value="1.01"/>
  </div>
  <div>
    <label>&nbsp;</label>
    <button>Aceptar</button>
  </div>
</form>