<table>
<thead>
  <tr>
    <th>Id</th>
    <th>Nombre</th>
    <th>Descripción</th>
    <th>Precio</th>
    <th>Opciones</th>
  </tr>
</thead> 
<tbody>
  <tr *ngFor="let producto of productos">
    <th>{{ producto.id }}</th>
    <td>{{ producto.nombre }}</td>
    <td>{{ producto.descripcion }}</td>
    <td>{{ producto.precio | currency: 'EUR'}}</td>
    <td><button [routerLink]="['/editar', producto.id]">Editar</button><button>Borrar</button></td>
  </tr>
</tbody>
<tfoot>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td><button [routerLink]="['/editar']">Añadir</button></td>
  </tr>
</tfoot>
</table>