<table>
<thead>
  <tr>
    <th>Id</th>
    <th>Nombre</th>
    <th>Descripción</th>
    <th>Precio</th>
    <th>Opciones</th>
  </tr>
</thead> 
<tbody>
  <tr>
    <th>1</th>
    <td>Nombre1</td>
    <td>Descripción1</td>
    <td>1,1</td>
    <td><button>Editar</button><button>Borrar</button></td>
  </tr>
  <tr>
    <th>2</th>
    <td>Nombre2</td>
    <td>Descripción2</td>
    <td>2,2</td>
    <td><button>Editar</button><button>Borrar</button></td>
  </tr>
  <tr>
    <th>3</th>
    <td>Nombre3</td>
    <td>Descripción3</td>
    <td>3,3</td>
    <td><button>Editar</button><button>Borrar</button></td>
  </tr>
</tbody>
<tfoot>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td><button>Añadir</button></td>
  </tr>
</tfoot>
</table>